* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #000000;
    background-color: #ffffff;
}

nav {
    background-color: #202020;
    padding: 16px;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.information h1 {
    color: #333;
    margin-bottom: 10px;
}

.information h2 {
    color: #666;
    margin-bottom: 10px;
}

.information h4 {
    color: #777;
    margin-bottom: 10px;
    font-weight: normal;
}

.profileimg img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}


.content,
.contact {
    padding: 50px;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.contact form {
    margin-top: 20px;
}

.contact label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.card{
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    transform: translateY(0px);
    transition: transform 0.3s ease-in-out;
    border: 1px solid #ddd;
}

.card:hover {
    transform: translateY(-5px);
}


